[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = ">=23.5"
# djangorestframework-filters = "*"
uuid = "*"

[dev-packages]

[requires]
python_version = "3.10"
